<a [routerLink]="['/categories']">Back</a>
<br />
<h2 class="page-header">Add SubCategory</h2>
<form (submit)="onAddSubmit()" *ngIf="categories" >
  <div class="form-group" >
    <label>Category</label>
    <select class="form-control" type="text"  [(ngModel)]="category" name="category"(change)="check()" required>
      <option *ngFor="let Category of categories; let i=index" value="{{i}}">{{Category.cname}}</option>
    </select>
  </div>
  <div class="form-group" *ngIf="subcategories[subname]" >
    <label>Sub Category</label>
    <select class="form-control" type="text"  [(ngModel)]="category" name="category" required>
      <option disabled selected value> -- select an option -- </option>
      <option *ngFor="let subCategory of subcategories[subname]; let i=index" value="{{i}}">{{subCategory.sname}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Sub Category Name</label>
    <input class="form-control" type="text" [(ngModel)]="sname" name="sname" required>
  </div>
  <div class="form-group">
    <label>usage</label>
    <input class="form-control" type="text" [(ngModel)]="usage" name="usage" required>
  </div>
  <input type="submit" value="submit" class="btn btn-success">
</form>